# - name: Display log message  
#   ansible.builtin.debug:
#     var: log 

- name: Add log message to logs list 
  ansible.builtin.set_fact: 
    summary_logs: "{{ summary_logs|default([]) + [log] }}"
