- name: |
    Get ONTAP cluster info via REST API
    (`netapp.ontap.na_ontap_rest_info`)
  netapp.ontap.na_ontap_rest_info:
    gather_subset: "{{ gather_subset | default(omit) }}"
    parameters: "{{ parameters | default(omit) }}"
    fields: "{{ fields | default(omit) }}"
  register: ontap_rest_info_results

- name: Set ontap_rest_info Fact 
  set_fact:
    ontap_rest_info: "{{ ontap_rest_info_results.ontap_info }}"
    